# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#        TARGET-Specifig 
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# none
#-------------------------------
#          ESP SYSTEM  
#-------------------------------
# none
#-------------------------------
#        xLAN Connection  
#-------------------------------
CONFIG_XLAN_HOSTNAME="pwrmeter"
CONFIG_XLAN_STATIC_IP_ADDR="192.168.1.16"
#-------------------------------
#   ETHERNET(SPI) part of xLAN  
#-------------------------------
# none
#-------------------------------
#            MODBUS  
#-------------------------------
# none
#-------------------------------
#             MQTT 
#-------------------------------
CONFIG_MQTT_ROOT_TOPIC="Power-Meter"