# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#        TARGET-Specifig
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# none
#-------------------------------
#          ESP SYSTEM  
#-------------------------------
# none
#-------------------------------
#          LOG-LEVELS
#-------------------------------
CONFIG_PRM_MAIN_LOG_LEVEL_DEBUG=y
CONFIG_PRM_WEBSERVER_LOG_LEVEL_DEBUG=y
#-------------------------------
#        xLAN Connection  
#-------------------------------
CONFIG_XLAN_HOSTNAME="pwrmeter2"
CONFIG_XLAN_STATIC_IP_ADDR="192.168.1.19"
#-------------------------------
#   ETHERNET(SPI) part of xLAN  
#-------------------------------
# none
#-------------------------------
#       Wi-Fi part of xLAN    
#-------------------------------
none
#-------------------------------
#            MODBUS  
#-------------------------------
# none
#-------------------------------
#             MQTT 
#-------------------------------
CONFIG_MQTT_ROOT_TOPIC="Power-Meter2"