# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#        TARGET-Specifig 
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#-------------------------------
#        xLAN Connection  
#-------------------------------
#       Wi-Fi part of xLAN    
#-------------------------------
CONFIG_XLAN_USE_WIFI=y
CONFIG_XLAN_USE_ETH=n
#---TEMPLATE---TEMPLATE---TEMPLATE---TEMPLATE---TEMPLATE---TEMPLATE
#CONFIG_XLAN_WIFI_SSID=    "FILL with your <SSID>"
#CONFIG_XLAN_WIFI_PASSWORD="FILL with your <PASSWORD>"