menu "My async HTTPD Helper (Worker Tasks) Configuration"

    config ASYNC_WORKER_MAX_HTTPD_REQUESTS
        int "Max async Requests (Worker Tasks) needed?"
        default 2
        range 1 10
        help
            The maximum number of simultaneous async requests that the web server will handle.
            To limit the number of resouces that are allocated, set this to a needed number.
            As of now the uppper limt is set to 10.

    config ASYNC_WORKER_TASK_PRIORITY
        int "What priority should the async worker tasks have?"
        default 5
        range 1 10
        help
            Set the priorities of the Worker-Task that will be created.

    config ASYNC_WORKER_TASK_STACK_SIZE_KB
        int "How much stack size (in KB) should EACH async worker tasks have?"
        default 4
        range 1 10
        help
            Adjust the stack size of the worker tasks that will be created.
            2 KB is sufficent in most cases.

choice ASYNC_WORKER_LOG_LEVEL
    prompt "Set Log Level for async HTTPD Helper"
    default ASYNC_WORKER_LOG_LEVEL_INFO
    help
        Select the log verbosity for 'async_httpd_helper'-commponente.

    config ASYNC_WORKER_LOG_LEVEL_NONE
        bool "ESP_LOG_NONE"
    config ASYNC_WORKER_LOG_LEVEL_ERROR
        bool "ESP_LOG_ERROR"
    config ASYNC_WORKER_LOG_LEVEL_WARN
        bool "ESP_LOG_WARN"
    config ASYNC_WORKER_LOG_LEVEL_INFO
        bool "ESP_LOG_INFO"
    config ASYNC_WORKER_LOG_LEVEL_DEBUG
        bool "ESP_LOG_DEBUG"
    config ASYNC_WORKER_LOG_LEVEL_VERBOSE
        bool "ESP_LOG_VERBOSE"
endchoice

config ASYNC_WORKER_LOG_LEVEL
    int
    default 0 if ASYNC_WORKER_LOG_LEVEL_NONE
    default 1 if ASYNC_WORKER_LOG_LEVEL_ERROR
    default 2 if ASYNC_WORKER_LOG_LEVEL_WARN
    default 3 if ASYNC_WORKER_LOG_LEVEL_INFO
    default 4 if ASYNC_WORKER_LOG_LEVEL_DEBUG
    default 5 if ASYNC_WORKER_LOG_LEVEL_VERBOSE

endmenu